body {
	background: #33373B;
}

#window-dir, #window-dir #dirlist .dynatree-container {
	background: #1D1D1D;
}

#window-list {
	background: #2D3033;
}

#window-dir .dynatree-container {
	border-bottom: none;
	border-right: 5px solid #33373B;
}

.dynatree-title {
	padding: 0 2px;
	border: 1px solid transparent;
}

.dynatree-active .dynatree-title {
	border-radius: 5px;
	background: #0088cc;
	font-weight: bold;
	text-shadow: none;
}

.dynatree-active:hover .dynatree-title {
	background: black;
	color: white !important;
}

.dynatree-node {
	display: block;
	cursor: pointer;
}

.dynatree-node:hover .dynatree-title {
	color: #0088cc !important;
}

#list li:hover {
	background: #364049;
}

#list .active {
	background: #0088cc;
	border: 1px solid #0088cc;
}

#list .active:hover {
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	border: 1px solid #0088cc;
}

#list li strong, #window-dir #dirlist .dynatree-title {
	color: white;
	/* text-shadow: rgba(255, 255, 255, 0.85) 0 0 3px; */
}

#window-dir #dirlist .dynatree-active a, #window-dir #dirlist .dynatree-container a:hover, #window-dir #dirlist .dynatree-container a:focus {
	background: black !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#window-display {
	background: black;
	color: white;
	cursor: none;
}

/* Scrollers */
.jspVerticalBar {
	width: 10px !important;
	background: transparent !important;
}

.jspHorizontalBar {
	height: 10px !important;
	background: transparent !important;
}

.jspTrack {
	background: transparent !important;
}

.jspDrag {
	background: #555 !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.jspCorner {
	display: none;
}

/* Bootstrap overrides {{{ */
.breadcrumb a {
	border: 1px solid transparent;
	border-radius: 5px;
}
.breadcrumb a:hover {
	text-decoration: none;
	background: #0088cc;
}
/* }}} */
/* Glow-on-Hover effects {{{ */
.jGrowl-notification {
	border: 1px solid transparent;
	cursor: pointer;
}

#list li:hover, .jGrowl-notification:hover, .dynatree-active .dynatree-title, .breadcrumb a:hover {
	border: 1px solid #0088cc !important;
	box-shadow: 0 0 5px rgba(0, 105, 214, 1);
	-webkit-box-shadow: 0 0 5px rgba(0, 105, 214, 1);
	-moz-box-shadow: 0 0 5px rgba(0, 105, 214, 1);
	box-shadow: 0 0 5px rgba(0, 105, 214, 1);
}
/* }}} */
