body {
	background: #33373B;
}

#window-menu, #window-dir, #window-dir #dirlist .dynatree-container {
	background: #1D1D1D;
}

#window-menu a {
	color: white;
}

#window-list {
	background: #2D3033;
}

#window-dir .dynatree-container {
	border-bottom: none;
	border-right: 5px solid #33373B;
}

.dynatree-active .dynatree-title {
	border-radius: 5px;
	background: white;
	color: black !important;
	padding: 0 5px;
	font-weight: bold;
}

.dynatree-node {
	display: block;
	cursor: pointer;
}

.dynatree-node:hover .dynatree-title {
	font-weight: bold !important;
	text-decoration: underline;
}

#list li:hover {
	background: #364049;
	border: 1px solid #38393d;
}

#list li strong, #window-dir #dirlist .dynatree-title {
	color: white;
	/* text-shadow: rgba(255, 255, 255, 0.85) 0 0 3px; */
}

#window-dir #dirlist .dynatree-active a, #window-dir #dirlist .dynatree-container a:hover, #window-dir #dirlist .dynatree-container a:focus {
	background: black !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#list .active {
	background: #768089;
	border: 1px solid #38393d;
}

#list .active:hover {
	background: #768089;
	border: 1px solid white;
}

#window-display {
	background: black;
	color: white;
	cursor: none;
}

/* Scrollers */
.jspVerticalBar {
	width: 10px !important;
	background: transparent !important;
}

.jspTrack {
	background: transparent !important;
}

.jspDrag {
	background: #555 !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
