body {
	font: normal 13px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#list {
	list-style: none;
	padding: 0;
	text-indent: 0px;
}

#list li {
	display: block;
	width: 156px;
	height: 170px;
	float: left;
	border: 1px solid transparent;
	overflow: hidden;
	margin: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#list li > div {
	display: block;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
	padding: 0 3px 0 3px;
}

#list li .imgframe {
	display: table-cell;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
}

#list li img {
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
}

#list li strong {
	display: block;
	font-weight: normal;
	text-align: center;
	font-size: 8pt;
}
