body {
	font: normal 13px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.nomouse {
	cursor: none;
}

#list {
	list-style: none;
	padding: 0;
	text-indent: 0px;
}

#list li {
	display: block;
	width: 156px;
	height: 170px;
	float: left;
	border: 1px solid transparent;
	overflow: hidden;
	margin: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#list li > div {
	display: block;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
	padding: 0 3px 0 3px;
}

#list li .imgframe {
	display: table-cell;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	text-align: center;
}

#list li img {
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
	display: none; /* Until its loaded anyway */
	border-radius: 6px;
	-moz-border-radius: 6px;
}

#list li strong {
	display: block;
	font-weight: normal;
	text-align: center;
	font-size: 8pt;
}

#list li .emblems {
	z-index: 10;
	top: -50px;
	position: relative;
	display: block;
	width: 100%;
	height: 20px;
}

#list li .emblems .foldericon {
	display: block;
	width: 16px;
	height: 16px;
	background: url('../images/emblems/foldericon.png') no-repeat;
}

/* DynaTree fixes */
.dynatree-title {
	cursor: pointer;
}

/* jGrowl fixes */
.jGrowl {
	padding: 5px 10px;
}

.jGrowl img {
	float: left;
	margin-right: 10px;
}

.jGrowl .jGrowl-notification {
	min-height: 45px !important;
}

#mainmenu .wijmo-wijmenu-icon-right {
	float: right;
	z-index: 10000;
	position: absolute;
	right: 10px;
	cursor: pointer;
}
