body {
	margin: 0;
	padding: 0;
}

#window-dir {
	float: left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 200px;
}

#window-dir #dirlist, #window-dir #dirlist .dynatree-container {
	height: 100%;
}

#window-list {
	margin-left: 200px;
	height: 100%;
	overflow: auto;
}

#window-display {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#window-display #display-frame {
	border: 5px solid blue;
}
