body {
	margin: 0;
	padding: 0;
}

#window-dir {
	float: left;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 200px;
}

#window-dir #dirlist, #window-dir #dirlist .dynatree-container {
	height: 100%;
}

#window-list {
	height: 100%;
	width: 100%;
	overflow: auto;
}
