[submodule "lib/jquery-contextmenu"]
	path = lib/jquery-contextmenu
	url = https://github.com/medialize/jQuery-contextMenu.git
[submodule "lib/keymaster"]
	path = lib/keymaster
	url = https://github.com/madrobby/keymaster.git
