.icon-edit { background-image: url(page_white_edit.png); }
.icon-back_fast { background-image: url(back_fast.png); }
.icon-bottom { background-image: url(bottom.png); }
.icon-first { background-image: url(first.png); }
.icon-folder { background-image: url(folder.png); }
.icon-folder-recurse { background-image: url(folder-recurse.png); }
.icon-folder-add { background-image: url(folder-add.png); }
.icon-fullscreen { background-image: url(fullscreen.png); }
.icon-home { background-image: url(home.png); }
.icon-last { background-image: url(last.png); }
.icon-list { background-image: url(list.png); }
.icon-next { background-image: url(next.png); }
.icon-next_fast { background-image: url(next_fast.png); }
.icon-open { background-image: url(open.png); }
.icon-previous { background-image: url(previous.png); }
.icon-refresh { background-image: url(refresh.png); }
.icon-top { background-image: url(top.png); }
.icon-up { background-image: url(up.png); }
.icon-zoom-actual { background-image: url(zoom-actual.png); }
.icon-zoom-fit-height { background-image: url(zoom-fit-height.png); }
.icon-zoom-fit-width { background-image: url(zoom-fit-width.png); }
.icon-zoom-fit { background-image: url(zoom-fit.png); }
.icon-zoom-in { background-image: url(zoom-in.png); }
.icon-zoom-out { background-image: url(zoom-out.png); }
